<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="../../assets/stylesheets/login_screen.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<section class="login-block">
   <div class="container">
    <div class="row">
    <div class="col-md-4 login-sec">
            <h2 class="text-center">Limpador de terrenos arenosos</h2>
      <form class="login-form">
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-uppercase">E-mail</label>
              <input type="text" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="text-uppercase">Senha</label>
              <input type="password" class="form-control" placeholder="">
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                <small>Lembrar-me</small>
              </label>
              <button type="submit" class="btn btn-login float-right">Enviar</button>
            </div>
      </form>
      <div class="copy-text">Created with <i class="fa fa-heart"></i> by Pi2 group</div>
    </div>
          <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                       <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                 <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="https://images.pexels.com/photos/531035/pexels-photo-531035.jpeg?cs=srgb&dl=beach-beach-chairs-beach-hut-531035.jpg&fm=jpgg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="banner-text">
                  <h2>Limpeza de Praias</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
              </div>  
        </div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="banner-text">
                  <h2>Limpeza de Quadras de Areia</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
              </div>  
          </div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="banner-text">
                  <h2>Limpeza de Terrenos</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
              </div>  
          </div>
        </div>
                  </div>     
              
          </div>
        </div>
      </div>
</section>